
<h1> <%= @user.first_name %> your post </h1>


<div>
  <h3><strong>Title:</strong>
  <%= @post.author %> 
  </h3> 
  
</div>
 
<div>
  <h3><strong>Description:</strong>
      <p> <%= @post.body %> </p>
  </h3>
</div>
<br>
<div>
  <h3>Comments</h3>
  
  <%= render @post.comments %>
       
</div>

<br>

<div>
  <h3>Add Comments</h3>
  <%= render 'comments/form' %>

</div>



  

 